<%= form_with(model: mexpense) do |form| %>
  <% if mexpense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mexpense.errors.count, "error") %> prohibited this mexpense from being saved:</h2>

      <ul>
        <% mexpense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :particulars %>
    <%= form.text_field :particulars %>
  </div>

  <div class="field">
    <%= form.label :debit %>
    <%= form.number_field :debit %>
  </div>

  <div class="field">
    <%= form.label :credit %>
    <%= form.number_field :credit %>
  </div>

  <div class="field">
    <%= form.label :balance %>
    <%= form.number_field :balance %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
